<template>
  <b-row class="car-img-container ">
    <b-col cols="6" md="12" class="clearfix">
      <div class="limit">
        <a :href="detail">
          <img :src="image" alg="Image" />
        </a>
      </div>
    </b-col>
    <b-col cols="6" md="12">
      <b-card class="bg-light border-0 review-box">
        <div class="text-review-box">
          <a :href="detail">
            <p class="text-review text-left">
              {{ traveller_review }}
            </p>
          </a>
          <a :href="detail" class="read-more text-right">
            <p>+read more</p>
          </a>
        </div>

        <div class="text-left mt-3">
          <h2 class="review-author">{{ traveller_name }}</h2>
          <p class="mt-1">Tour of {{ city }}</p>
        </div>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: {
    image: String,
    id: Number,
    city: String,
    traveller_name: String,
    traveller_review: String,
  },
  computed: {
    detail: function() {
      return `reviews/detail/${this.id}`;
    },
  },
};
</script>
<style scoped>
.limit {
  overflow: hidden;
}
.limit img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}
.review-box {
  height: 18rem;
  overflow: hidden;
}
.text-review-box {
  height: 11rem;
}
.text-review {
  font-size: 1.375em;
  font-family: "Nunito Sans", sans-serif;
  color: #555555;

  overflow: hidden;

  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

a,
a:hover {
  text-decoration: none;
}
.read-more {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555 !important;
  text-transform: capitalize;
}

.review-author {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Nunito Sans";
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  color: #0aa6bf;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
</style>
