<template>
  <div>
    <b-navbar toggleable="md" fixed="top" type="light" variant="light">
      <b-navbar-brand href="/">
        <img src="@/assets/logo.png" alt="Lokafy" width="164px" height="45px" />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-link
            :to="'pricing'"
            class="mr-4 mt-2 md-2 text-dark"
            active-class="current"
            exact-active-class="current"
            >PRICING</b-link
          >

          <b-link
            :to="'reviews'"
            class="mr-4 mt-2 md-2 text-dark"
            active-class="current"
            exact-active-class="current"
            >REVIEWS</b-link
          >
          <b-link
            :to="'faqs'"
            class="mr-4 mt-2 md-2 text-dark"
            active-class="current"
            exact-active-class="current"
            >FAQS</b-link
          >
          <b-link
            :to="'about'"
            class="mr-4 mt-2 md-2 text-dark"
            active-class="current"
            exact-active-class="current"
            >ABOUT</b-link
          >
          <b-link
            :to="'signup'"
            class="mr-4 mt-2 md-2 text-dark"
            active-class="current"
            exact-active-class="current"
            >SIGN UP</b-link
          >
          <b-link
            :to="'login'"
            class="mr-4 mt-2 md-2 text-dark"
            active-class="current"
            exact-active-class="current"
            >LOG IN</b-link
          >
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<style scoped>
.current {
  text-decoration: underline;
}
</style>
