<template>
  <b-container class="py-3 mb-5">
    <b-row class="text-center clearfix my-5">
      <b-col cols="12">
        <h1>Reviews</h1>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        cols="12"
        md="6"
        class="mb-4"
        v-for="review in reviews"
        :key="review.id"
      >
        <ReviewCard
          :image="review.image"
          :city="review.city"
          :id="review.id"
          :traveller_name="review.traveller_name"
          :traveller_review="review.traveller_review"
        />
      </b-col>
    </b-row>
    <b-row v-if="showMoreReviews" class="my-5">
      <b-col cols="12">
        <b-button class="more-reviews border-0" @click="loadMoreReview"
          >More Reviews</b-button
        >
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ReviewCard from "@/components/ReviewCard";
import axios from "axios";

export default {
  components: {
    ReviewCard,
  },
  data() {
    return {
      reviews: [],
      newLoadReview: [],
      page: 1,
      showMoreReviews: true,
    };
  },
  methods: {
    loadMoreReview() {
      this.page = this.page + 1;
      let reviewsAPI = `http://127.0.0.1:8000/api/reviews/${this.page}/`;
      axios.get(reviewsAPI).then((response) => {
        if (response.data.length < 4) {
          this.showMoreReviews = false;
        }
        response.data.forEach((item) => {
          this.reviews.push(item);
        });
      });
    },
  },
  mounted() {
    let reviewsAPI = `http://127.0.0.1:8000/api/reviews/${this.page}/`;
    axios.get(reviewsAPI).then((response) => {
      this.reviews = response.data;
    });
  },
};
</script>

<style scoped>
.more-reviews {
  background-color: #0aa6bf;
}
.more-reviews:hover {
  background-color: #0aa6bf;
  text-decoration: underline;
}
</style>
